body{
  overflow-x: hidden;
}/* 
.scrollbar::-webkit-scrollbar{
  display: none;
} */
/* Custom scrollbar */
.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  width: 1rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(212, 209, 209, 0.196);
  border-radius: 26px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(224, 219, 219, 0.068);
}

/* Add more custom styling as needed */

.navbar{
  position:absolute;
}
